@model ProyectoVinos.Models.ItemPedido
@using ProyectoVinos.Class;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<br>
<br>

<div class="container-fluid">


    <h1>Editar Pedido</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdItem" />
                <div class="form-group">
                    <label asp-for="IdPedido" class="control-label"></label>
                    <input asp-for="IdPedido" class="form-control" />
                    <span asp-validation-for="IdPedido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdVino" class="control-label"></label>
                    <input asp-for="IdVino" class="form-control" />
                    <span asp-validation-for="IdVino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDiseño" class="control-label"></label>
                    <input asp-for="IdDiseño" class="form-control" />
                    <span asp-validation-for="IdDiseño" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>

        @if (SessionHelper.GetRole(User) == "Admin")
        {
            <a asp-controller="Pedidos" asp-action="Index">Back to List</a>

        }@if (SessionHelper.GetRole(User) == "cliente")
        {
            <a asp-controller="Pedidos" asp-action="MisPedidos">Back to List</a>
        }



    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
