@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-img-primary text-white text-center">
    <div class="container d-flex flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">TORROJAS S.A</h1>
        <font color="red"> @ViewBag.Mensaje</font>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-vine"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-bolder mb-0 text-uppercase">Diseño de Vinos</p>
    </div>
</header>

