@model ProyectoVinos.Models.Cliente


@{ ViewData["Title"] = "Actualizar Cliente"; }
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>


<body class="text-center">
    <div class="bodySignin bgImage" style="        background-image: url(../../images/Fondo.jpg);
        background-size: cover;
        background-position: center">
        <main class="form-signin py-5">
            <form asp-action="ActualizarCliente2">
                <div class="col-3 card" style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 2.5%; padding-top: 2.5%; background-color: #343434; margin:auto">
                    <div class="row">
                        <div class="col align-self-center">
                            <img class="mb-4" src="~/images/Logo1.png" alt="" width="150" height="150">
                        </div>
                    </div>

                    <input type="hidden" asp-for="IdCliente" />

                    <h1 class="h3 mb-3 fw-normal" style="font-family: 'Lobster', cursive; color: white ; text-align: center;">Editar Cliente</h1>
                    <label style="color:aliceblue" class="visually-hidden">Nombre</label>
                    <input class="form-control" asp-for="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Primer Apellido</label>
                    <input class="form-control" asp-for="PrimerApellido" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Segundo Apellido</label>
                    <input class="form-control" asp-for="SegundoApellido" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Correo</label>
                    <input class="form-control" asp-for="Correo" />
                    <span asp-validation-for="Correo" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Telefono</label>
                    <input class="form-control" asp-for="Telefono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Usuario</label>
                    <input class="form-control" asp-for="Usuario" readonly />
                    <span asp-validation-for="Usuario" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Contraseña</label>
                    <input class="form-control" asp-for="Pass" />
                    <span asp-validation-for="Pass" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Direccion</label>
                    <input class="form-control" asp-for="Direccion" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Provincia</label>
                    <input class="form-control" asp-for="Provincia" readonly="readonly" />
                    <span asp-validation-for="Provincia" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Canton</label>
                    <input class="form-control" asp-for="Canton" readonly="readonly" />
                    <span asp-validation-for="Canton" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Distrito</label>
                    <input class="form-control" asp-for="Distrito" readonly="readonly" />
                    <span asp-validation-for="Distrito" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Fecha Nacimiento</label>
                    <input class="form-control" asp-for="FechaNacimiento" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>


                    <label style="color:aliceblue" class="visually-hidden">Rol</label>
                    <input class="form-control" asp-for="Rol" readonly="readonly" />

                    <br />
                    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Save" style="background-color: #195da3; border: #195da3;">Actualizar</button>
                </div>
                <div>
                    <a></a>
                </div>
            </form>
        </main>
    </div>
</body>
