@model ProyectoVinos.Models.Cliente

@{ ViewData["Title"] = "Create"; }

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>


<body class="text-center" onload="getProvinica()">
    <div class="bodySignin bgImage" style="background-image:url(../../images/Fondo.jpg); background-size:cover; background-position:center">
        <main class="form-signin py-5">
            <form asp-action="Create">
                <div class="col-3 card" style="padding-left: 2.5%; padding-right: 2.5%; padding-bottom: 2.5%; padding-top: 2.5%; background-color: #343434; margin:auto">
                    <div class="row">
                        <div class="col align-self-center">
                            <img class="mb-4" src="~/images/Logo1.png" alt="" width="150" height="150">
                        </div>
                    </div>
                    <h1 class="h3 mb-3 fw-normal" style="font-family: 'Lobster', cursive; color: white ; text-align: center;">Registrarse </h1>
                    <label style="color:aliceblue" class="visually-hidden">Nombre</label>
                    <input class="form-control" asp-for="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Primer Apellido</label>
                    <input class="form-control" asp-for="PrimerApellido" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Segundo Apellido</label>
                    <input class="form-control" asp-for="SegundoApellido" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Correo</label>
                    <input class="form-control" asp-for="Correo" />
                    <span asp-validation-for="Correo" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Telefono</label>
                    <input class="form-control" asp-for="Telefono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Usuario</label>
                    <input class="form-control" asp-for="Usuario" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Contraseña</label>
                    <input class="form-control" asp-for="Pass" />
                    <span asp-validation-for="Pass" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Direccion</label>
                    <input class="form-control" asp-for="Direccion" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Provincia</label>
                    <select asp-for="Provincia" class="form-control" id="destino" onchange="getCantones(this.value)"> </select>
                    <span asp-validation-for="Provincia" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Canton</label>
                    <select asp-for="Canton" class="form-control" id="cantones" onchange="getDistritos(this.value)"> </select>
                    <span asp-validation-for="Canton" class="text-danger"></span>

                    <label style="color:aliceblue" class="visually-hidden">Distrito</label>
                    <select asp-for="Distrito" class="form-control" id="distritos"> </select>
                    <span asp-validation-for="Distrito" class="text-danger"></span>

                    @*<label style="color:aliceblue" class="visually-hidden">Provincia</label>
                        <input class="form-control" asp-for="Provincia" />
                        <span asp-validation-for="Provincia" class="text-danger"></span>

                        <label style="color:aliceblue" class="visually-hidden">Canton</label>
                        <input class="form-control" asp-for="Canton" />
                        <span asp-validation-for="Canton" class="text-danger"></span>

                        <label style="color:aliceblue" class="visually-hidden">Distrito</label>
                        <input class="form-control" asp-for="Distrito" />
                        <span asp-validation-for="Distrito" class="text-danger"></span>*@

                    <label style="color:aliceblue" class="visually-hidden">Fecha Nacimiento</label>
                    <input class="form-control" asp-for="FechaNacimiento" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>



                    <input type="hidden" asp-for="Rol" value="cliente" />
                    <br />
                    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Create" style="background-color: #195da3; border: #195da3;">Crear</button>
                </div>
            </form>
        </main>
    </div>


    <script>

        function getProvinica() {
            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincias.json",
                data: {},
                success: function (data) {
                    var html = "<select id='destino'>";
                    for (key in data) {
                        html += "<option value='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select id='destino' class='form-control'";
                    $('#destino').html(html);
                }
            });
        }

        function getCantones(id_provincia) {
            //alert("id_provinicia: " + id_provincia);
            var url1 = "https://ubicaciones.paginasweb.cr/provincia/";
            var url2 = +id_provincia + "/cantones.json"
            var _url = url1 + url2;
            //alert(_url);
            $.ajax({
                dataType: "json",
                url: _url,
                data: {},
                success: function (data) {
                    //alert("Exito");
                    var html = "<select id='cantones'>";
                    for (key in data) {
                        html += "<option value='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select id='cantones' class='form-control'";
                    $('#cantones').html(html);
                },
                Error: function () {
                    alert("Error");
                },

            });
        }

        function getDistritos(id_canton) {
            var id_provincia = $("#destino").val();
            //alert("id_canton: " + id_canton + "id_provinicia: " + id_provincia);
            var url1 = "https://ubicaciones.paginasweb.cr/provincia/";
            var url2 = +id_provincia + "/canton/" + id_canton + "/distritos.json"
            var _urlD = url1 + url2;
            //alert(_urlD);
            $.ajax({
                dataType: "json",
                url: _urlD,
                data: {},
                success: function (data) {
                    //alert("Exito");
                    var html = "<select>";
                    for (key in data) {
                        html += "<option value='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select id='cantones' class='form-control'";
                    $('#distritos').html(html);
                },
                Error: function () {
                    alert("Error");
                },

            });
        }



    </script>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
